DATABASE_TYPE=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_DATABASE=classway
DATABASE_PASSWORD=coloque_sua_senha_aqui
DATABASE_AUTOLOADENTITIES=true
DATABASE_SYNCHRONIZE=true
